/* здесь используйте глобальные переменные */
$basic_green: #68b738;
$basic_grey: #f2f2f2;
$special_grey-two: #ebebeb;
$basic-color-text:#444444;
$special_grey-two: #ebebeb;
$special_grey:#cdcdcd;
$special_grey-two: #666666;
$special_dark-grey-two:#444444;
$status_error:#ff8282;
$basic_green-two:#5eaa2f;

$primary: "Lato", "Arial", sans-serif;
$secondary:"Oswald", "Arial", sans-serif;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
