.catalog {
  font-family: $secondary;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-position: center;
  /* display: grid;
  grid-template-columns: 324px 511px;
  grid-template-rows: max-content;
  gap: ;
  grid-column: 1 / 2; */
}

.catalog__last-item-title {
  font-size: 20px;
  line-height: 24px;
  color: #111111;
}

.catalog__last-item-info {
  line-height: 18px;
}

.catalog__last-item-product {
  line-height: 20px;
}
