.example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  font-family: $secondary;
  color: #000000;
  font-size: 14px;
  background-color: #eaeaea;
  padding: 0;


  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 30px;
    background-image: linear-gradient(#ffffff 70%, #eaeaea 30%);

    br {
      display: none;
    }
  }
}

.example__title {
  font-family: $secondary;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__subtitle {
  line-height: 18px;
  margin-left: 20px;


  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-betweens;
    width: 45%;
    padding-left: 30px;
  }
}

.example__item {
  list-style: none;
  width: 124px;
  height: 70px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__number {

  font-size: 12px;
  line-height: 12px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__count {
  line-height: 29px;
  padding-left: 66px;

  @media (min-width: $tablet-width) {
    width: 45%;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    padding-left: 150px;
    text-align: end;
  }
}
