.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-color: $basic_grey;
  overflow-x: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 82px;
    left: 20px;
    width: calc(100vw - 40px);
    height: 1px;
    background-color: $basic_grey-two;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 144px;
    left: 20px;
    width: calc(100vw - 40px);
    height: 1px;
    background-color: $basic_grey-two;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
  padding: 23px 20px;
  width: 320px;
  cursor: pointer;


  @media (min-width: $tablet-width) {
    width: 768px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 55px 31px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 65px 110px;
  }
}


.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 18px;
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    align-items: start;
    width: 163px;
    margin: 0;
    padding: 0;
  }
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__logo:focus {
  opacity: 0.6;
  outline: none;
}

.footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  color: $basic-color-text;
  text-decoration: none;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 163px;
  }
}


.footer__developer-link:hover .footer__developer-logo,
.footer__developer-link:focus .footer__developer-logo {
  background-color: $basic_green;
}

.footer__developer-link:active {
  opacity: 0.3;
}

.footer__developer-text:hover {
  opacity: 0.6;
}

.footer__developer-text:active {
  opacity: 0.3;
}

.footer__developer-text:focus {
  opacity: 0.6;
}

.footer__developer-logo {
  width: 27px;
  height: 34px;

  mask-image: url("../../icons/html-academy.svg");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
  mask-position: right;

  background-color: $special_grey-two;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  gap: 24px;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 4px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    justify-content: space-between;
  }
}
