.header {
  position: relative;
  display: flex;
  color: #ffffff;

  width: 100%;
  padding: 13px 20px;


  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 174px;
  }
}

.header__logo-text {
  margin-right: -45px;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
  }
}
