.location {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  line-height: 20px;
}

.location__advertising {
  display: flex;
  margin: 0 auto;
  width: 320px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;


  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    display: flex;
    width: 565px;
    padding: 60px 80px;
    background-color: #ffffff;
  }
}

.location__slogan {
  font-family: $secondary;
  font-size: 16px;
  color: #111111;
  width: 320px;
  margin: 0;
  padding: 0;
}

.location__address {
  display: flex;
  white-space: nowrap;
  width: 320px;
  font-size: 14px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.location__address-wrapper {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.location__map {
  width: 100%;
  height: 362px;
  overflow: hidden;

  img {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
