.location {
  line-height: 20px;
}

.location__advertising {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;


  @media (min-width: $tablet-width) {
    width: 628px;
    margin-left: 70px;
    font-size: 20px;
    line-height: 26px;
  }
}

.location__slogan {
  font-family: $secondary;
  font-size: 16px;
  color: #111111;
}

.location__address {
  display: flex;
  white-space: nowrap;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.location__address-wrapper {
  display: flex;
  flex-direction: column;
  width: 140px;
}
