.nav {
  display: flex;
  align-items: flex-start;
  font-family: $secondary;
  font-size: 20px;
  line-height: 20px;
  color: #000000;


  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.nav__toggle {
  position: absolute;
  content: "";
  top: 17px;
  right: 21px;
  display: flex;
  width: 24px;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__list {
  position: absolute;
  top: 67px;
  left: 0;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  z-index: 1;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    top: 0;
    padding-right: 5px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-wrap: nowrap;
  }
}

.nav__item {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 8px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;


  @media (min-width: $tablet-width) {
    width: auto;
    border-bottom: none;
    margin: 0;
    margin-left: 34px;
    padding-left: 0;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 31px;
    letter-spacing: 1.1px;
  }
}

.nav__link {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: auto;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    line-height: auto;
  }
}

.nav__item--active {
  position: relative;


  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      bottom: 10px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $basic-green;


      @media (min-width: $desktop-width) {
        background-color: #ffffff;
        right: 0;
        bottom: 8px;
      }
    }
  }
}

.nav__list--black .nav__link {
  @media (min-width: $desktop-width) {
    color: #000000;
  }
}

.nav__list--black .nav__item--active::before {
  @media (min-width: $desktop-width) {
    background-color: $basic-green;
  }
}

.nav__list--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: auto;
  }
}

.nav--nojs {
  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;

    .nav__list {
      display: flex;
      position: relative;
      top: 0;
      width: 100%;
    }
  }
}

.nav--closed {
  @media (max-width: $mobile-width-only) {
    .nav__list {
      display: none;
    }
  }

  .nav__toggle {
    border: none;
    background-color: transparent;

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      content: "";
      background-color: #000000;
      box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
      width: 24px;
      height: 2px;
    }
  }
}

.nav__toggle:active::before {
  opacity: 0.3;
}

.nav--opened {
  @media (max-width: $mobile-width-only) {
    .nav__list {
      display: flex;
    }
  }

  .nav__toggle {
    background-color: transparent;
    border: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 0;
      width: 25px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

