.program {
  display: grid;
  padding: 0;
  gap: 20px;
  font-family: $secondary;
  color: #000000;
  width: 100%;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.program__wrapper {
  background-image: url("../../icons/cat-walking.svg");
  background-size: 50px 53px;
  background-repeat: no-repeat;
  background-color: $basic_grey;
  background-position-x: 21px;


  padding: 50px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    background-size: 200px 211px;
    background-position-x: 445px;
    background-position-y: 71px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
    background-position-x: 11px;
    background-position-y: 71px;
  }
}

.program__wrapper--mass {
  background-image: url("../../icons/cat-sitting.svg");
  background-size: 67px 50px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 13px;

  @media (min-width: $tablet-width) {
    width: 708px;
    background-size: 268px 200px;
    background-position-x: 51px;
    background-position-y: 71px;

    @media (min-width: $desktop-width) {
      background-position: left;
      background-size: 134px 100px;
      background-position-x: 11px;
      background-position-y: 71px;
    }
  }
}

.program__title {
  font-family: $secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin-top: 30px;
  margin-left: 90px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 214px;
  }
}

.program__slogan {
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 86px 61px 16px 52px;

    br {
      display: none;
    }
  }
}

.program__link {
  margin-left: 20px;
  font-family: $secondary;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}
