.promo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  font-family: $secondary;
  color: $basic_white;
  background-image: url("../../images/green-can-mobil@1x.jpg"), linear-gradient(to bottom, $basic-green-two 302px, $basic_white 302px,);
  background-size: 320px auto, 100%;
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-image: none;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/green-cat-desktop@1x.jpg"), linear-gradient(to right, $basic_white 50%, $basic-green-two 50%);
    background-size: 720px 694px, 100%;
    background-position: right bottom;
  }
}

.promo__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 auto;
  width: 320px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 694px;
    padding-left: 190px;
  }
}

.promo__title {
  margin: 0;
  padding: 0;
  font-family: $secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $basic_black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 118px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    color: $basic_black;
    width: 50%;
    margin: 0;
    margin-top: 199px;
    margin-bottom: 40px;
  }
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic_black;
    text-align: left;
    margin-left: 119px;
    width: 100%;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    color: $basic_black;
    text-align: left;
    margin: 0;
    margin-bottom: 52px;
  }
}

.promo__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 40px;
  margin: 0 auto;
  padding-top: 4px;
  font-family: $secondary;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  background-color: $basic-green;
  color: $basic_white;
  border: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 255px;
    left: 120px;
    width: 243px;
    height: 54px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    position: initial;
    margin: 0;
  }
}

.promo__link:hover {
  opacity: 0.6;
}

.promo__link:active {
  opacity: 0.3;
}

.promo__link:focus {
  opacity: 0.6;
  outline: none;
}

.promo__image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    left: 38.3%;
    top: 20.6%;
    width: 564px;
  }
}
