.social__link {
  display: flex;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/vkontakte.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  mask-position: right;

  background-color: $special_grey-two;
}

.social__link:hover {
  background-color: $basic_green;
}

.social__link:active {
  background-color: $basic_green;
  opacity: 0.3;
}

.social__link--youtube {
  mask-image: url("../../icons/youtube.svg");
}

.social__link--telegram {
  mask-image: url("../../icons/telegram.svg");
}
