.subscribe {
  font-family: $secondary, sans-serif;
  line-height: 32px;
  color: #000000;
}

.subscribe__title {

  font-size: 32px;
}

.subscribe__subtitle {
  font-size: 24px;
}

.subscribe__form__submit {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
