.subscribe {
  position: relative;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 15px 20px;
  font-family: $secondary;
  line-height: 24px;
  font-size: 24px;
  font-weight: 400;
  color: $basic_black;


  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding: 26px 68px;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 88px;
  }
}

.subscribe__form {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.subscribe__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;


  &::before {
    position: absolute;
    width: 2000px;
    height: 2px;
    top: 25px;
    left: -2040px;
    content: "";
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      left: -1970px;
      top: 39px;
    }

    @media (min-width: $desktop-width) {
      left: -1930px;
      top: 44px;
    }
  }

  &::after {
    position: absolute;
    width: 2000px;
    height: 2px;
    top: 25px;
    left: 212px;
    content: "";
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 39px;
      left: 314px;
    }

    @media (min-width: $desktop-width) {
      left: 402px;
      top: 44px;
    }
  }
}

.subscribe__title {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 400;
  line-height: 24px;
  font-size: 24px;
  text-align: flex-start;


  @media (min-width: $tablet-width) {
    width: 768px;
    line-height: 32px;
    font-size: 32px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 73px;
  }
}

.subscribe__subtitle {
  text-align: center;
  margin: 0;
  margin-bottom: 23px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 23px;
  }
}
