.subscribe {
  font-family: "Oswald", sans-serif;
  line-height: 32px;
  color: #000000;

  &__title {

    font-size: 32px;
  }

  &__subtitle {
    font-size: 24px;
  }

  &__form__submit {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
  }
}
